@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

html,
body {
    height: 100%;
}

.app,
.app_modal {
    font: var(--font-m);
    color: var(--text-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    padding-top: 15px;
    height: calc(100vh - var(--header-height) - var(--navbar-height));
}

.slick-list, .slick-track, .slick-slide {
    height: 100% !important;
}

.slick-slide > div {
    height: 100% !important;
}

