.app_dark_theme {
    --bg-color: #222222;
    --bg-dark-color: #1d1d1d;
    --bg-light-color: #353535;
    --bg-inverted-color: #ffffff;
    --primary-color: #1f9dfd;
    --text-color: #e1e3e6;
    --inverted-text-color: #000000;
}