.app_light_theme {
    --bg-color: #e0e5e9;
    --bg-dark-color: #dadadd;
    --bg-light-color: #ebeff3;
    --bg-inverted-color: #222222;;
    --primary-color: #008fff;
    --text-color: #000000;
    --inverted-text-color: #e1e3e6;
}