.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-color);
    height:var(--header-height);

    gap: 10px;

    border-bottom: 1px solid var(--bg-light-color);
}