.Navbar {
    height: var(--navbar-height);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 

    position: relative;
}

.link {
    z-index: 1;
}

.activeWords {
    transform: translate(-130%, -10%);
}

.activeFavorites {
    transform: translate(-1%, -10%);
}

.activeProfile {
    transform: translate(130%, -10%);
}


